<ion-content delegate-handle="ListScroll">
    <div style="height: 140px"></div>
    <!--<ion-refresher pulling-text="下拉刷新..." refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>-->
    <div>
        <ion-list>
            <!--<ion-item ng-repeat="obj in jsonData.djkj track by $index" ng-click="showInfo('FileInInfo',obj.UUID,obj.FLAG)">-->
            <!--<div class="contacts_list1" ng-class="{'border-bottom-image': !$last}">-->
            <!--<div class="list_source"><span ng-bind='obj.FILEIN_TYPENAME'></span>〔<span ng-bind='obj.FILEIN_YEAR'></span>〕<span ng-bind='obj.FILEIN_SERIAL'></span>号</div>-->
            <!--<div class="list_time"><span ng-bind='obj.REGISTERED_TIME'></span></div>-->
            <!--<div class="list_title"><span ng-bind='obj.FILEIN_TITLE'></span></div>-->
            <!--</div>-->
            <!--</ion-item>-->

            <ion-item>
                <div class="MP-Delivery-list" ng-click="showInfo('KJGZInfo',1,'')">
                    <div class="MP-Delivery-Logo"></div>
                    <div class="MP-Delivery-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-Delivery-Status">配送中</div>

                    <div class="MP-Delivery-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-Delivery">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-Delivery"></div>
                    <div class="icomoon-MP-Delivery-Progress">最新到达</div><!--收件地址-->
                    <div class="MP-Delivery-Progress">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    <div class="icomoon-MP-Delivery-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-Delivery-list" ng-click="showInfo('KJGZInfo',1,'')">
                    <div class="MP-Delivery-Logo"></div>
                    <div class="MP-Delivery-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-Delivery-Status">配送中</div>

                    <div class="MP-Delivery-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-Delivery">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-Delivery"></div>
                    <div class="icomoon-MP-Delivery-Progress">最新到达</div><!--收件地址-->
                    <div class="MP-Delivery-Progress">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    <div class="icomoon-MP-Delivery-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <!---------------------已签收------------------------------->
            <ion-item>
                <div class="MP-DeliveryCheck-list" ng-click="showInfo('KJGZCheckInfo',1,'')">
                    <div class="MP-DeliveryCheck1-seal">
                        <p></p>
                    </div><!--印章-->
                    <div class="MP-DeliveryCheck-Logo"></div>
                    <div class="MP-DeliveryCheck-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-DeliveryCheck-Status">已签收</div>

                    <div class="MP-DeliveryCheck-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-DeliveryCheck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-DeliveryCheck"></div>
                    <div class="icomoon-MP-DeliveryCheck-Progress">签收人</div><!--收件地址-->
                    <div class="MP-DeliveryCheck-Progress">盖章</div>
                    <div class="icomoon-MP-DeliveryCheck-Delete">&#xe612;</div>
                </div>
            </ion-item>

            <ion-item>
                <div class="MP-DeliveryCheck-list" ng-click="showInfo('KJGZCheckInfo',1,'')">
                    <div class="MP-DeliveryCheck1-seal">
                        <p></p>
                    </div><!--印章-->
                    <div class="MP-DeliveryCheck-Logo"></div>
                    <div class="MP-DeliveryCheck-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-DeliveryCheck-Status">已签收</div>

                    <div class="MP-DeliveryCheck-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-DeliveryCheck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-DeliveryCheck"></div>
                    <div class="icomoon-MP-DeliveryCheck-Progress">签收人</div><!--收件地址-->
                    <div class="MP-DeliveryCheck-Progress">盖章</div>
                    <div class="icomoon-MP-DeliveryCheck-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-DeliveryCheck-list" ng-click="showInfo('KJGZCheckInfo',1,'')">
                    <div class="MP-DeliveryCheck1-seal">
                        <p></p>
                    </div><!--印章-->
                    <div class="MP-DeliveryCheck-Logo"></div>
                    <div class="MP-DeliveryCheck-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-DeliveryCheck-Status">已签收</div>

                    <div class="MP-DeliveryCheck-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-DeliveryCheck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-DeliveryCheck"></div>
                    <div class="icomoon-MP-DeliveryCheck-Progress">签收人</div><!--收件地址-->
                    <div class="MP-DeliveryCheck-Progress">盖章</div>
                    <div class="icomoon-MP-DeliveryCheck-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-DeliveryCheck-list" ng-click="showInfo('KJGZCheckInfo',1,'')">
                    <div class="MP-DeliveryCheck1-seal">
                        <p></p>
                    </div><!--印章-->
                    <div class="MP-DeliveryCheck-Logo"></div>
                    <div class="MP-DeliveryCheck-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-DeliveryCheck-Status">已签收</div>

                    <div class="MP-DeliveryCheck-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-DeliveryCheck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-DeliveryCheck"></div>
                    <div class="icomoon-MP-DeliveryCheck-Progress">签收人</div><!--收件地址-->
                    <div class="MP-DeliveryCheck-Progress">盖章</div>
                    <div class="icomoon-MP-DeliveryCheck-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-DeliveryCheck-list" ng-click="showInfo('KJGZCheckInfo',1,'')">
                    <div class="MP-DeliveryCheck1-seal">
                        <p></p>
                    </div><!--印章-->
                    <div class="MP-DeliveryCheck-Logo"></div>
                    <div class="MP-DeliveryCheck-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-DeliveryCheck-Status">已签收</div>

                    <div class="MP-DeliveryCheck-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-DeliveryCheck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-DeliveryCheck"></div>
                    <div class="icomoon-MP-DeliveryCheck-Progress">签收人</div><!--收件地址-->
                    <div class="MP-DeliveryCheck-Progress">盖章</div>
                    <div class="icomoon-MP-DeliveryCheck-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-DeliveryCheck-list" ng-click="showInfo('KJGZCheckInfo',1,'')">
                    <div class="MP-DeliveryCheck1-seal">
                        <p></p>
                    </div><!--印章-->
                    <div class="MP-DeliveryCheck-Logo"></div>
                    <div class="MP-DeliveryCheck-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-DeliveryCheck-Status">已签收</div>

                    <div class="MP-DeliveryCheck-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-DeliveryCheck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-DeliveryCheck"></div>
                    <div class="icomoon-MP-DeliveryCheck-Progress">签收人</div><!--收件地址-->
                    <div class="MP-DeliveryCheck-Progress">盖章</div>
                    <div class="icomoon-MP-DeliveryCheck-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-DeliveryCheck-list" ng-click="showInfo('KJGZCheckInfo',1,'')">
                    <div class="MP-DeliveryCheck1-seal">
                        <p></p>
                    </div><!--印章-->
                    <div class="MP-DeliveryCheck-Logo"></div>
                    <div class="MP-DeliveryCheck-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-DeliveryCheck-Status">已签收</div>

                    <div class="MP-DeliveryCheck-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-DeliveryCheck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-DeliveryCheck"></div>
                    <div class="icomoon-MP-DeliveryCheck-Progress">签收人</div><!--收件地址-->
                    <div class="MP-DeliveryCheck-Progress">盖章</div>
                    <div class="icomoon-MP-DeliveryCheck-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-DeliveryCheck-list" ng-click="showInfo('KJGZCheckInfo',1,'')">
                    <div class="MP-DeliveryCheck1-seal">
                        <p></p>
                    </div><!--印章-->
                    <div class="MP-DeliveryCheck-Logo"></div>
                    <div class="MP-DeliveryCheck-CorpName">
                        <h1>顺丰速运</h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-DeliveryCheck-Status">已签收</div>

                    <div class="MP-DeliveryCheck-Airline">
                        <h1>宁波</h1>
                        <h2>杭州</h2>
                        <span></span>
                        <div class="icomoon-truck-DeliveryCheck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-DeliveryCheck"></div>
                    <div class="icomoon-MP-DeliveryCheck-Progress">签收人</div><!--收件地址-->
                    <div class="MP-DeliveryCheck-Progress">盖章</div>
                    <div class="icomoon-MP-DeliveryCheck-Delete">&#xe612;</div>
                </div>
            </ion-item>
            <div class="MP-StopGap"></div>
        </ion-list>
    </div>
    <!--<ion-infinite-scroll ng-if="moreDataCanBeLoaded" icon="ion-loading-c" on-infinite="loadMore(false)" distance="1%"></ion-infinite-scroll>-->
</ion-content>