<ion-content delegate-handle="ListScroll">
    <div style="height: 140px"></div>
    <ion-refresher pulling-text="下拉刷新..." refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>
    <div>
        <ion-list>
            <ion-item ng-repeat="obj in jsonData.djkj track by $index" ng-click="jumpTo('DJKJInfo',obj.uuid)">
                <div class="MP-WFS-list">
                    <div class="MP-WFS-Logo"><img src="{{Constant.rootUrl + obj.companyLogo}}"  onload="Zoom(this, 35,35)"/></div>
                    <div class="MP-WFS-CorpName" ng-bind="obj.companyName"></div>
                    <div class="MP-WFS-Status">等待寄件</div>
                    <div class="MP-WFS-Airline">
                        <h1 ng-bind="obj.sendBeginPlace"></h1>
                        <h2 ng-bind="obj.receiverTargetplace"></h2>
                        <span></span>
                        <div class="icomoon-truck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                    <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                    <div class="MP-WFS-RecipientName" ng-bind="obj.receiverName"></div>
                    <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                    <div class="MP-WFS-AddInfo" ng-bind="obj.receiverAddress"></div>
                </div>
            </ion-item>
        </ion-list>
    </div>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded" icon="ion-loading-c" on-infinite="loadMore(false)" distance="1%"></ion-infinite-scroll>
    <div class="MP-NoData" ng-if="!moreDataCanBeLoaded && !jsonData.djkj.length>0">
        <p>目前还没有待寄快件哦</p>
    </div>
    <div class="MP-StopGap"></div>
</ion-content>