<ion-content delegate-handle="ListScroll">
    <div style="height: 140px"></div>
    <ion-refresher pulling-text="下拉刷新..." refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>
    <div>
        <ion-list>
            <ion-item ng-repeat="obj in jsonData.dqkj track by $index" ng-click="showInfo('DQKJInfo',obj.uuid)">
                <div class="MP-WFR-list">
                    <div class="MP-WFR-Logo"><img src="{{Constant.rootUrl + obj.companyLogo}}" onload="Zoom(this, 35,35)"/></div><!--快递公司logo-->
                    <div class="MP-WFR-CorpName">
                        <h1 ng-bind="obj.companyName"></h1>
                        <h2>256 365 576 685</h2>
                    </div>
                    <div class="MP-WFR-Status">等待取件</div>
                    <div class="MP-WFR-Airline">
                        <h1 ng-bind="obj.sendBeginPlace"></h1>
                        <h2 ng-bind="obj.receiverTargetplace"></h2>
                        <span></span>
                        <div class="icomoon-WFR-truck">&#xe614;</div>
                    </div>
                    <div class="MP-WFS-Divider border-bottom-image-WFR"></div>
                    <div class="icomoon-MP-WFR-Tip">快件已送达，请至甬宝终端取件</div><!--提示-->
                </div>
            </ion-item>
        </ion-list>
    </div>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded" icon="ion-loading-c" on-infinite="loadMore(false)" distance="1%"></ion-infinite-scroll>
    <div class="MP-NoData" ng-if="!moreDataCanBeLoaded && !jsonData.dqkj.length>0">
        <p>目前还没有待取快件哦</p>
    </div>
    <div class="MP-StopGap"></div>
</ion-content>