body{
    margin:0;
    padding:0;
    font-size:62.5%;
    background: #efeff4;
    overflow: hidden;
    font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
    height: 100%;
}
