<ion-content delegate-handle="ListScroll">
    <div style="height: 140px"></div>
    <!--<ion-refresher pulling-text="下拉刷新..." refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>-->
    <div class=" ">
        <ion-list>
            <!--<ion-item ng-repeat="obj in jsonData.djkj track by $index" ng-click="showInfo('FileInInfo',obj.UUID,obj.FLAG)">-->
            <!--<div class="contacts_list1" ng-class="{'border-bottom-image': !$last}">-->
            <!--<div class="list_source"><span ng-bind='obj.FILEIN_TYPENAME'></span>〔<span ng-bind='obj.FILEIN_YEAR'></span>〕<span ng-bind='obj.FILEIN_SERIAL'></span>号</div>-->
            <!--<div class="list_time"><span ng-bind='obj.REGISTERED_TIME'></span></div>-->
            <!--<div class="list_title"><span ng-bind='obj.FILEIN_TITLE'></span></div>-->
            <!--</div>-->
            <!--</ion-item>-->

            <ion-item>
                <div class="MP-WFS-list" ng-click="showInfo('DJKJInfo',1,'')">
                   <!-- <a href="#">-->
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    <!--</a>-->
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-WFS-list" ng-click="showInfo('DJKJInfo',2,'')">
                    <!--<a href="#">-->
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    <!--</a>-->
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-WFS-list" ng-click="showInfo('DJKJInfo',3,'')">
                    <!--<a href="#">-->
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    <!--</a>-->
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-WFS-list">
                    <a href="#">
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    </a>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-WFS-list">
                    <a href="#">
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    </a>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-WFS-list">
                    <a href="#">
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    </a>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-WFS-list">
                    <a href="#">
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    </a>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-WFS-list">
                    <a href="#">
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    </a>
                </div>
            </ion-item>
            <ion-item>
                <div class="MP-WFS-list">
                    <a href="#">
                        <div class="MP-WFS-Logo"><img src="../img/logo-sto.png"  onload="Zoom(this, 35,35)"/></div>
                        <div class="MP-WFS-CorpName">申通快递</div>
                        <div class="MP-WFS-Status">等待寄件</div>

                        <div class="MP-WFS-Airline">
                            <h1>宁波</h1>

                            <h2>杭州</h2>
                            <span></span>
                            <div class="icomoon-truck">&#xe614;</div>
                        </div>
                        <div class="MP-WFS-Divider border-bottom-image-WFS"></div>
                        <div class="icomoon-MP-WFS-Recipient">寄给</div><!--收件人-->
                        <div class="MP-WFS-RecipientName">小夏</div>
                        <div class="icomoon-MP-WFS-Add">地址</div><!--收件地址-->
                        <div class="MP-WFS-AddInfo">济南高新区高柯片区甬新路2817号8号楼3楼</div>
                    </a>
                </div>
            </ion-item>
            <div class="MP-StopGap"></div>
        </ion-list>
    </div>
    <!--<ion-infinite-scroll ng-if="moreDataCanBeLoaded" icon="ion-loading-c" on-infinite="loadMore(false)" distance="1%"></ion-infinite-scroll>-->
    <div class="MP-NoData" ng-if="!moreDataCanBeLoaded && jsonData.db.length>0">
        <p>目前还没有待寄快件哦</p>
    </div>

</ion-content>