<ion-view title="ExpressChoose" class="content-background-white">
    <ion-content>
        <ion-item>
            <div class="NE-CompanySelect-List border-bottom-image-WFS" ng-click="showInfo('ExpressChoose',0,'顺丰')">
                <!--<a href="#">-->
                    <div class="NE-CompanySelect-Portrait"><img src="../img/logo-sto.png"  onload="Zoom(this, 40,40)"/></div><!--公司LOGO-->
                    <div class="NE-CompanySelect-Name">顺丰速运</div>
                <!--</a>-->
            </div>
        </ion-item>
        <ion-item>
            <div class="NE-CompanySelect-List border-bottom-image-WFS" ng-click="showInfo('ExpressChoose',0,'申通')">
                <!--<a href="#">-->
                    <div class="NE-CompanySelect-Portrait"></div>
                    <div class="NE-CompanySelect-Name">申通快递</div>
                <!--</a>-->
            </div>
        </ion-item>
        <ion-item>
            <div class="NE-CompanySelect-List border-bottom-image-WFS" ng-click="showInfo('ExpressChoose',0,'圆通')">
                <!--<a href="#">-->
                    <div class="NE-CompanySelect-Portrait"></div>
                    <div class="NE-CompanySelect-Name">圆通快递</div>
                <!--</a>-->
            </div>
        </ion-item>
        <ion-item>
            <div class="NE-CompanySelect-List border-bottom-image-WFS" ng-click="showInfo('ExpressChoose',0,'中通')">
                <!--<a href="#">-->
                    <div class="NE-CompanySelect-Portrait"></div>
                    <div class="NE-CompanySelect-Name">中通快递</div>
                <!--</a>-->
            </div>
        </ion-item>
        <ion-item>
            <div class="NE-CompanySelect-List border-bottom-image-WFS" ng-click="showInfo('ExpressChoose',0,'联邦')">
                <!--<a href="#">-->
                    <div class="NE-CompanySelect-Portrait"></div>
                    <div class="NE-CompanySelect-Name">联邦快递</div>
                <!--</a>-->
            </div>
        </ion-item>
        <ion-item>
            <div class="NE-CompanySelect-List border-bottom-image-WFS" ng-click="showInfo('ExpressChoose',0,'天天')">
                <!--<a href="#">-->
                    <div class="NE-CompanySelect-Portrait"></div>
                    <div class="NE-CompanySelect-Name">天天快递</div>
                <!--</a>-->
            </div>
        </ion-item>
    </ion-content>
</ion-view>